{% extends 'base.html' %}

{% block title %}| Novo{% endblock %}

{% block content %}
<section class="row justify-content-center">
    <div class="col-lg-6">
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-warning mt-3" role="alert">
            {{ ''.join(errors) }}
        </div>
        {% endfor %}
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between">
                <h3><i class="bi bi-text-indent-left"></i>
                    Nova publicação</h3>
            </div>
            <form class="card-body" action="{{  url_for('blog.create') }}" method="POST">
                <fieldset class="form-group mb-3">
                    {{ form.title.label(class="form-label") }}
                    {{ form.title(class="form-control") }}
                </fieldset>
                <fieldset class="form-group mb-3">
                    {{ form.body.label(class="form-label") }}
                    {{ form.body(class="form-control", rows="8")}}
                </fieldset>
                {{ form.submit(class="btn btn-success") }}
            </form>
        </div>
    </div>
</section>
{% endblock %}